.container{
	display: flex;
	flex-direction: column;
  margin-top: 6%;
  margin-bottom: 8%;
}



#unipi{
  width:80px;
  float: left;
}



.teiheader {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 1200px;
  margin: 2rem auto; 
  margin-top: 3%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* tendina */
.tendina {
  flex: 1 1 calc(50% - 1rem); 
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fefefe;
  transition: all 0.3s ease;
}

/* titolo della tendina */
.tendina h2 {
  margin: 0;
  padding: 0.75rem 1rem;
  background-color: #4ba1fe;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* icona dinamica */
.tendina h2::after {
  content: "+";
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.tendina.active h2::after {
  content: "-";
}

/* pannello interno */
.pannello {
  padding: 1rem;
  display: none; 
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}

#mostraextra {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s; 
}

#mostraextra:hover {
  background-color: #45a049; 
  transform: scale(1.05); 
}

#mostraextra:active {
  background-color: #3e8e41; 
  transform: scale(0.95); 
}


.text {
    margin: 1em 0; 
  }
  
  .section {
    margin-top: 1em;
  }
  
  .head {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .head h1 {
    font-size: 1.5em;
  }
  
  .column-container {
    column-count: 2;
    column-gap: 2em;
  }
  

  .page {
    page-break-after: always; 
  }
  

  body {
    font-family: 'EB Garamond', serif;
    line-height: 1.6;
    background-color: #d2e5fd;
  }
  
  .italic {
    font-style: italic;
  }

  
 .mostra #orig {
    text-decoration: line-through;
  }

  #reg {
    display:none ;
  }

  .mostra #reg {
    display: inline;
    color: rgb(11, 191, 5);
    margin-left: 6px;
    font-weight: bold;
  }
  

  
.columns {
	display: flex;
  justify-content: center;
  border-spacing: 80px;
}

.columns td {
	vertical-align: baseline;
	width: fit-content;
  max-width: 600px;
}


.section h2 {
  text-align: center;
  margin: 0;
  padding: 16px;
}

.section h3 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.page {
  display: flex;
flex-direction: column;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
align-items: center;
justify-content: center;
}




.mostra #extraN {
  display: inline; 
  position: relative; 
  color: darkblue;
}

.mostra #extraO {
  display: inline; 
  position: relative;   
  color: purple;
}

.mostra #extraR {
  display: inline; 
  position: relative;  
  color: rgb(10, 133, 248);
}

.mostra #extraE {
  display: inline; 
  position: relative;    
  color: orange;
}

.mostra #extraL {
  display: inline; 
  position: relative;    
  color: rgb(0, 141, 94);
}

.mostra #extraB {
  display: inline;
  position: relative;   
  color: rgb(246, 255, 0);
}

.mostra #data {
  display: inline;
  position: relative;    
  color: rgb(129, 108, 0);
}

.name {
  text-decoration: none;
}

.info {
  display: none;         
  position: absolute;     
  top: 120%;             
  left: 0;         
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 250px;    
  white-space: normal;    
  color: black;
}

.extra:hover .info {
  display: block;
}





.zone {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.zone:hover {
  border: 2px solid red;
  cursor: pointer;
}

.surface {
  position: relative;
}

.zone {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.zone:hover {
  border: 2px solid red;
  cursor: pointer;
}

.surface {
  position: relative;
}

/* Evidenziazione dei paragrafi */
.blocco {
  transition: background-color 0.3s ease;
}




.blocco.highlight {
  background-color: yellow;    /* Evidenziazione in giallo */
  padding: 5px;                /* Spaziatura per evidenziare meglio */
  border-radius: 4px;          /* Angoli arrotondati */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.7); /* Leggero effetto glow */
}


.mostra #verbum {
  color: green;
}

.mostra #epithet {
  color: green;
}

h1, h2 {
  text-align: center;
}



.section > h2 {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 11px;
  transition: background-color 0.3s ease;
  border-radius: 9px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.section >h2:hover {
  background-color: #85a3c3;
}

.section > h2.active {
  background-color: #b4b4b4;
}

.section > .page {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  display: none; 
}


.mostra #sic {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}
 #corr {
  color: green;
  display: none;
  font-weight: bold;
  margin-left: 6px;
}
#sic:hover {
  text-decoration: none;
}


.mostra #citaz {
  color: brown;
  cursor: help;
  text-decoration: dotted underline;
}


.mostra #abbr {
  color: rgb(255, 81, 0);
}


#expan {
  display:none;
}


.mostra #expan {
  display: inline;
  color: rgb(57, 231, 144);
  margin-left: 6px;
  font-weight: bold;
}



a {
   color: #3498db;
    text-decoration: none; 
  }

 .gloss {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.item {
  flex: 1 1 calc(33.333% - 1em); 
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
  background-color: #f9f9f9;

}

.item strong {
  font-size: 1.1em;
}

.item a {
  display: block;
  margin-top: 0.5em;
  color: #007bff;
  text-decoration: none;
}

.item a:hover {
  text-decoration: underline;
}



.ritorna {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-weight: bolder;
}

.ritorna:hover {
  background-color: #0056b3;
}

footer {
  background-color: #222; 
  color: #fff;
  padding: 1.5rem; 
  text-align: center;
  font-size: 1.1rem; 
  margin-top: 2rem; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

footer div {
  max-width: 800px; 
  margin: 0 auto;
}

footer p {
  margin: 0; 
  line-height: 1.6; 
}

footer a {
  color: #007bff;
  text-decoration: underline; 
}

footer a:hover {
  color: #0056b3; 
  text-decoration: none;
}




.glossario h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #222;
}


.glossario h3 {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #4ba1fe; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.glossario h3:hover {
  background-color: #0056b3; 
}

.glossario h3.active {
  background-color: #0056b3; 
}


.glossario .gloss {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 0.5rem;
}
